[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pylint = "*"
black = "*"
autopep8 = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pyupgrade = "*"
autoflake = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
"yt-dlp" = "*"
yt-dlp-ejs = "*"
aiohttp = "*"
psutil = "*"
aiosqlite = "*"
pynacl = ">=1.6.2"

[requires]
python_version = "3.14"
